<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>470989899644-sgpncq54049hi6h0bsrfihumphkd1jp3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.470989899644-sgpncq54049hi6h0bsrfihumphkd1jp3</string>
	<key>API_KEY</key>
	<string>AIzaSyDv31ZSF9VgsTFtBkBOhdmGIf1MaMy6Zak</string>
	<key>GCM_SENDER_ID</key>
	<string>470989899644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sv.GraduateWork</string>
	<key>PROJECT_ID</key>
	<string>graduateworkcopy</string>
	<key>STORAGE_BUCKET</key>
	<string>graduateworkcopy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470989899644:ios:d1e4e32386fba4209886f9</string>
</dict>
</plist>